/* Footer */

#footer {
    padding: 6em 0 6em 0 ;
    background-color: #4686a0;
    color: rgba(255, 255, 255, 0.75);
    background-attachment: fixed,							fixed,							fixed;
    background-image: url("images/overlay2.png"), url("images/overlay4.svg"), linear-gradient(45deg, #000000, #333 50%, #333 95%);
    background-position: top left,						center center,					center center;
    background-size: auto,							cover,							cover;
    text-align: center;
    min-height: 300px;
}

#footer a {
    border-bottom-color: rgba(255, 255, 255, 0.5);
}

#footer a:hover {
    color: #ffffff;
}

#footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6, #footer strong, #footer b {
    color: #ffffff;
}

#footer header p {
    color: #ffffff;
}

#footer header.major:after {
    background: #ffffff;
}

#footer ul.major-icons li .icon {
    border-color: #ffffff;
}

#footer .icon.major {
    color: #ffffff;
}

#footer .icons {
    margin: 0;
}

#footer .copyright {
    font-size: 0.8em;
    list-style: none;
    margin: 2em 0 0 0;
    padding: 0;
}

#footer .copyright li {
    border-left: solid 1px;
    display: inline-block;
    line-height: 1em;
    margin-left: 1em;
    padding: 0 0 0 1em;
}

#footer .copyright li:first-child {
    border-left: 0;
    margin-left: 0;
    padding: 0;
}

                    
        
/* Icons */
ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
}

ul.icons li {
    display: inline-block;
    padding: 0 1.25em 0 0;
}

ul.icons li:last-child {
    padding-right: 0;
}

ul.icons li .icon:before {
    font-size: 1.5em;
}

a {
    -moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    border-bottom: dotted 1px #666;
    color: inherit;
    text-decoration: none;
}                  

/* ------ */
#footer li {
    font-size: 16px;
}

#footer a{
    border-bottom: none;
}

a{
    border-bottom: none;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
}
  
/* Add rounded corners to the top left and the top right corner of the image */
.card img {
    border-radius: 5px 5px 0 0;
}
/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
/* Add some padding inside the card container */
.card .container {
    padding: 5px 16px;
    padding-top: 20px;
    margin-bottom: 30px;
    padding-bottom: 20px;
}

.card .container h4{
    padding-bottom: 5px;
}
#skill {
    background-color: #f6f6f6;
}
